.ember-nav-active {
  background-color: #FFF7ED !important;
  color: #F97316 !important;
  border-color: #FED7AA !important;

  span svg {
    color: #F97316 !important;
  }

  span {
    background-color: #FFF7ED !important;
  }
}

nav::-webkit-scrollbar {
  display: none;
}
